body {
  font: 14px sans-serif;
  text-align: center;
}

.conainer {
  margin: auto;
  text-align: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis text {
  font-weight: bold;
}

.y.axis path {
  stroke: grey;
}

.weather, .legend-weather {
  fill: #02818a; /*black;*/
}

.avg, .legend-avg {
  fill: #67a9cf; /*grey;*/
}

.maxmin, .legend-maxmin {
  fill: #bdc9e1; /*lightgrey;*/
}

.T-tick-line, .x-tick-line {
  fill: none;
  shape-rendering: crispEdges;
}

.T-tick-line, .P-tick-line {
  stroke: white;
}

.x-tick-line {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 2 2;
}

.area {
  fill: lightgrey;
}

.p-line, .a-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend-line {
  stroke: black;
  stroke-width: 1;
}

.legend-background {
  fill: white;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.desc {
  margin-left: 70px;
  margin-top: 20px;
  text-align: left;

}